<div>
  <div class="buttons-place">
    <button
      (click)="enableDisableRule1()"
      [ngStyle]="{ backgroundColor: toggle1 === true ? '#BFAF9B' : '#ffff' }"
      type="button"
    >
      Tout
    </button>
    <button
      (click)="enableDisableRule2()"
      [ngStyle]="{ backgroundColor: toggle2 ? '#BFAF9B' : '#ffff' }"
      type="button"
    >
      Boitier Alif
    </button>
    <button
      (click)="enableDisableRule3()"
      [ngStyle]="{ backgroundColor: toggle3 ? '#BFAF9B' : '#ffff' }"
      type="button"
    >
      Livrets
    </button>
    <button
      (click)="enableDisableRul4()"
      [ngStyle]="{ backgroundColor: toggle4 ? '#BFAF9B' : '#ffff' }"
      type="button"
    >
      Récits à télécharger
    </button>
  </div>
  <div class="pack-showed" *ngFor="let p of pack; let i = index">
    <img [src]="p.image" alt="" style="width: 272px; height: 270px" />
    <div class="pack-text-container">
      <div class="pack-text">
        <h3 style="font-size: 20px">
          {{ p.titre }}
          <button class="heart-button" (click)="clickEvent(i)">
            <i-bs
              name="suit-heart"
              width="30"
              height="20"
              class="coeur1"
              *ngIf="!p.status"
            ></i-bs>
            <i-bs
              name="suit-heart-fill"
              width="30"
              height="20"
              class="coeur1"
              *ngIf="p.status"
            ></i-bs>
          </button>
        </h3>
        <div class="pack-age-cadre">
          <p class="pack-age-text">
            <b>{{ p.age }}</b>
          </p>
        </div>
        <div class="pack-text">
          {{ p.description }}
        </div>
        <div class="pack-prix">{{ p.prix }}</div>
        <div class="ajouter-panier-container-pack">
          <button class="ajouter-panier-pack">AJOUTER AU PANIER</button>
        </div>
      </div>
    </div>
  </div>
</div>
