<div class="footer-container">
    <div class="first">
        <h3>Aide et support</h3>
        <p><a href="">Qui sommes nous ?</a></p>
        <p><a href="">Contactez-nous</a></p>
        <p><a href="">Faire aux question</a></p>
    </div>
    <div class="second"> 
        <h3>Politiques et mentions légales</h3>
        <p><a href="">Politique de confidentialité</a></p>
        <p><a href="">Conditions d'utilisation</a></p>
        <p><a href="">Politique de remboursement et de retour</a></p>
        <p><a href="">Mentions légales</a></p>
    </div>
    <div class="logo-et-reseaux"> 
        <div class="logo">
            <img src="/assets/alif-logo.png" alt="">
            <p><a href="">alifstory@contact.com</a></p>
        </div>
        <div class="reseaux">
            <div class="insta"><a href=""><img src="/assets/brand-instagram.png" alt=""></a></div>
            <div class="facebook"><a href=""><img src="/assets/brand-facebook.png" alt=""></a></div>

        </div>
    </div>

</div>
