<div>
  <div class="card">
    <img src="assets/Picture2.png" alt="" style="width: 272px; height: 222px" />
    <div class="card-text-container">
      <div class="card-text">
        <div class="card-titre">
          <h3 style="margin: 15px; font-size: 15px">
            {{ titre }}
            <button class="heart-button" (click)="onHeartButtonClick()">
                <i-bs name="suit-heart" width="18" height="18" class="coeur" *ngIf="!status"></i-bs>
                <i-bs name="suit-heart-fill" width="18" height="18" class="coeur" *ngIf="status"></i-bs>
              </button>
          </h3>
        </div>
        <div class="card-age-cadre">
          <p class="card-age-text">
            <b>{{ age }}</b>
          </p>
        </div>
        <p class="card-text-sent">{{ description }}</p>
        <div class="card-prix">{{ prix }}</div>
        <div class="ajouter-panier-container-card">
          <button class="ajouter-panier-card">AJOUTER AU PANIER</button>
        </div>
      </div>
    </div>
  </div>
</div>
