<div class="container">  
    <div class="site-logo">
        <img src="assets/logo.jpeg" alt="" width="100px" height="60px">
    </div>
    <div class="site-menu">
        <a href="">Accueil</a>
        <a href="">Qui sommes nous ? 
            <i-bs name="chevron-down" width="20" height="20"></i-bs> 
        </a>
        <a href="">Alif Story
            <i-bs name="chevron-down" width="20" height="20"></i-bs> 
        </a>
        <a href="" class="underline">Boutique</a>
        <a href="">A propos d'éducation</a>
    </div>
    <div class="site-cnx">
        <i-bs name="file-person-fill" width="30" height="20" class="cnx-img"></i-bs>
        <a href="">Connexion</a>
        <i-bs name="basket2-fill" width="30" height="20"></i-bs>
        <a href="" >Panier</a>
    </div>
</div>
