.wrapper{
    width: 1280px;
     height: 2286px;
     padding: 0px 0px 90px 0px;
     margin:0px auto;

}
.cards-container{
    display: flex;
    justify-content: center;
}

h2{
    font-family: comic sans ms;
    margin-left: 100px;
}

 

