.wrapper {
  width: 1280px;
  height: 2286px;
  padding: 0px 0px 90px 0px;
  margin: 0px auto;
}
.cards-container {
  display: flex;
  justify-content: center;
}

h2 {
  font-family: comic sans ms;
  margin-left: 100px;
}

button {
  border-radius: 24px;
  width: 181px;
  height: 37px;
  border: 1px solid;
  border-color: #403a34;
  background-color: #ffffff;
}
.voir-plus {
  background-color: #ffffff;
  color: #0281a1;
  font-family: comic sans ms;
  border: solid;
}
.voir-plus-container {
  padding-left: 550px;
  padding-top: 25px;
}
